body{
  margin-left: 20%;
  margin-right: auto;
  margin-top: 0.5in;
  margin-bottom: 1in;
  position: float;
  font-family: 'Verdana',Trebuchet MS',Sans-serif;
  
}
h1{
    font-size: 36px;
  }
p{
  whitespace: pre-wrap;
}

