body{
  margin-left: 30%;
  margin-top: 0.5in;
  margin-bottom: 1in;
  width: 700px;
  font-family: Candara,'Trebuchet MS',Sans-serif;
  
}
h1{
    font-size: 36px;
    border-bottom: 1px solid #000
  }
h3{}
p{
  whitespace: pre-wrap;
}

